@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@300;400;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
}

header {
  background-image: linear-gradient(
    to right,
    rgba(22, 22, 117, 0.993),
    rgba(20, 20, 106, 0.873),
    rgba(16, 16, 90, 0.873),
    rgb(7, 7, 66)
  );
  position: relative;
  left: 0;
  font-family: "Roboto", sans-serif;
  top: 0;
  margin-bottom: 20px;
  margin: 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

.linkler {
  margin-left: 6px;
  margin-right: 6px;
  font-size: 15px;
}

.left-side {
  display: contents;
  width: 400px;
}

#yazi {
  position: absolute;
  margin-left: 5%;
}

.head a,
.head a:hover,
.head a:active,
.head a:link,
.head a:focus
{
  color: white;
}