@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@300;400;600;700&display=swap");

body {
    margin: 0;
    padding: 0;
}

header{
    background-image: linear-gradient(to right, rgba(22, 22, 117, 0.993),rgba(20, 20, 106, 0.873),rgba(16, 16, 90, 0.873), rgb(7, 7, 66));
    position: absolute;
    left: 0;
    font-family: "Roboto", sans-serif;
    top: 0; 
    margin-bottom: 20px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.linkler{
    margin-left: 6px;
    margin-right: 6px;
    font-size: 15px;
}
