body {
    margin: 0;
    padding: 0;
}

header{
    background: linear-gradient(to right,#1b058a,  #1a0391de,#2107a7,#3819d0);
    position: absolute;
    left: 0;
    font-family: 'Ubuntu', sans-serif;
    top: 0; 
    margin-bottom: 20px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.a{
    margin-left: 10px;
    text-decoration: none;
    font-size: 15px;
}