.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -1;
  margin-bottom: 149px;
}

.ust-icerik h3 {
  text-align: center;
}

.ekip-icerik {
  position: relative;
}

.ekip {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  width: 80%;
  margin: 0 auto;
}

.uye {
  margin: 15px;
  border: 1px solid #ccc;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  height: 220px;
  background-color: rgb(35, 20, 106);
  color: white;
}

.uye .left,
.uye .right {
  padding: 10px;
}

.right {
  margin-left: 20px;
  text-align: left;
  width: 100%;
}

.left {
  width: 300px;
}

.fotograf {
  color: black;
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

h1 {
  padding-bottom: 15px;
}

.back {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
