.hisse-resim{
    height: 15rem;
    margin-left: 1px;
    margin-top: 1px;
}
    
.hisse-kart{
    border: 1px solid rgba(163, 159, 159, 0.69);
    transition: transform 0.5s ease-in-out;
}

.hisse-kart:hover{
  transform: scale(1.06);
}
.ant-card-body{
  background-color: rgb(253, 248, 248);
}