.hisse-ekrani{
  padding-top: 50px;  
  /* background-image: url("/teamImages/hero-bg.png"); */
  background-color: rgba(27, 27, 84, 0.616);
}

.hisse-resim {
  height: 15rem;
  margin-left: 1px;
}

.hisse-kart {
  border: 1px solid rgba(4, 0, 0, 0.69);
  transition: transform 0.7s ease-in-out;
}
 .hisse-kart:hover{
  transform: scale(1.15);
}  
 .ant-card-body{
  transition: transform 0.7s ease-in-out;
}